@font-face {
    font-family: 'Compatil DATEV';
    src: url('/assets/fonts/compatil-datev.eot');
    src: url('/assets/fonts/compatil-datev.eot') format('embedded-opentype'),
         url('/assets/fonts/compatil-datev.woff') format('woff'),
         url('/assets/fonts/compatil-datev.ttf') format('truetype'),
         url('/assets/fonts/compatil-datev.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
